[user]
	name = Jamie Temple
	email = jamie-temple@live.de
	signingkey = 27621495271F926F

[core]
	editor = code
	autocrlf = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	gpgsign = true

[init]
	defaultBranch = main
